<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.nemilya.games.sokoban"
	version 	= "0.0.1">

	<name>Game Sokoban</name>

	<description>
		Logic game Sokoban.
	</description>

	<author href="https://github.com/nemilya/"
		email="nemilya@gmail.com">
		Ilya Nemihin
	</author>

  <icon src="icon.png" gap:role="default" />

  <preference name="permissions" value="none"/>

	<preference name="orientation" value="portrait" />
</widget>